{% extends 'main/base.html' %}

{% block title %}Сообщения{% endblock %}
{% load static %}

{% block content %}
<main class="container my-5">
    <div>
        <div class="card-header">
            <a href="{% url 'profile' recipient.id %}">
                <img src="{% static 'images/free-icon-backwards-4822153.png' %}" alt="Назад"
                     style="width: 50px; height: 50px;
                                    margin-bottom: 10px">
            </a>
        </div>
           <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}
