{% extends 'main/base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}

<main class="form-signup">
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <img class="custom-image" src="{% static 'images/SL-100820-36440-05.jpg' %}" alt="New User Icon">
        <h1 class="h3 mb-3 fw-normal">Регистрация пользователя</h1>

        {% for field in form %}
            <div class="form-floating mb-3">
                {{ field }}
                <label >{{ field.label }}</label>
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>

                {% endfor %}
            </div>
        {% endfor %}

        <button class="btn btn-warning w-100 py-2" type="submit">Зарегистрироваться</button>
        <div class="mt-3 text-center">
            <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
        </div>
    </form>
</main>

{% endblock %}
