{% extends 'main/base.html' %}
{% load static %}
{% block title %}Добавить статью{% endblock %}
{% block content %}
<!--<h1>Добавление статьи</h1>-->
<!--<form action="add_article" method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <input type="submit" value="add">-->
<!--</form>-->

<div class="container mt-5">
    <div class="row d-flex flex-wrap justify-content-center">
        <div class="col-md-8 mb-3">
            <div class="card border shadow">
                <div class="card-header">
                    <a href="{% url 'news' %}">
                        <img src="{% static 'images/free-icon-backwards-4822153.png' %}" alt="Назад"
                             style="width: 50px; height: 50px;
                                    margin-bottom: 10px">
                    </a>
                    <h5 class="card-title">Добавить статью</h5>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                            <label for="name" class="form-label">{{ field.label }}</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-warning">Добавить статью</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
