{% extends 'main/base.html' %}
{% block title %}Новости{% endblock %}
{% load static %}
{% block content %}
<div class="article-container">
    <h1 class="article-title">{{ st.title }}</h1>
    <img src="{{ st.image.url }}" alt="Изображение к статье" class="article-image">
    <h2 class="article-date">{{ st.published_date|date:"d.m.Y" }}</h2>
    <div class="article-content">
        {{ st.content|safe }}
    </div>
</div>

{% if user.is_authenticated %}
{% if not user_has_commented %}
<form action="{% url 'article' st.id %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="comment">Комментарий</label>
        <textarea class="form-control" id="comment" name="comment" rows="3"
                  placeholder="Введите ваш комментарий"></textarea>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Отправить</button>
    </div>
</form>
{% else %}
<p class="custom-paragraph">Вы уже оставили комментарий.</p>
{% endif %}
{% else %}
<p class="custom-paragraph">Пожалуйста, <a href="{% url 'login' %}">войдите</a>, чтобы оставить комментарий.</p>

{% endif %}

{% if comments %}
<div class="comments-container">
    <h3>Комментарии</h3>
    <ul class="comments-list">
        {% for comment in comments %}
        <li>
            <img src="{{ comment.owner.image.url }}" alt="User Image" class="img-thumbnail me-4"
                 style="width: 100px; height: 100px;">
            <p><a href="{% url 'profile' comment.owner.id %}" class="text-decoration-none text-dark fw-bold">{{ comment.owner }} </a></p>
            <p>{{ comment.comment }}</p>
            <p>{{ comment.created|date:"d-m-Y H:i" }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
