{% extends 'main/base.html' %}
{% load static %}

{% block title %}Новости{% endblock %}

{% block content %}
<div class="news-header">
    <img src="{% static 'news/news.jpg' %}" alt="News Image" class="header-img">
    <h2>Новости</h2>
</div>

<div class="news-list">
    {% for article in articles %}
    <a href="{% url 'article' article.id %}" class="article-link" target="_blank">
        <div class="news-item">
            <div class="news-image">
                <img src="{{ article.image.url }}" alt="{{ article.title }}" class="article-img">
            </div>
            <div class="news-details">
                <p class="published-date">{{ article.published_date|date:"d.m.Y" }}</p>
                <h3 class="article-title">{{ article.title }}</h3>
               <p class="article-content">{{ article.content|striptags|truncatechars:360 }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{%endblock%}

